[package]
name = "simple_setup"
version = "0.1.0"
authors = ["Charles Bournhonesque <charlesbour@gmail.com>"]
edition = "2021"
rust-version = "1.65"
description = "Examples for the lightyearServer-client networking library for the Bevy game engine"
readme = "README.md"
repository = "https://github.com/cBournhonesque/lightyear"
keywords = ["bevy", "multiplayer", "networking", "netcode", "gamedev"]
categories = ["game-development", "network-programming"]
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
lightyear = { path = "../../lightyear" }
serde = { version = "1.0.188", features = ["derive"] }
bevy = { version = "0.13", features = ["bevy_core_pipeline"] }
clap = { version = "4.5.4", features = ["derive"] }
