[package]
name = "lightyear_sync"
version = "0.26.1"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "IO primitives for the lightyear networking library"
repository = "https://github.com/cBournhonesque/lightyear"

[features]
default = ["std"]
std = ["lightyear_transport/std"]
client = [
  "lightyear_connection/client",
  "lightyear_messages/client",
  "lightyear_transport/client",
]
server = [
  "lightyear_connection/server",
  "lightyear_messages/server",
  "lightyear_transport/server",
]

[dependencies]
lightyear_utils.workspace = true
lightyear_serde.workspace = true
lightyear_core.workspace = true
lightyear_link.workspace = true
lightyear_connection.workspace = true
lightyear_messages.workspace = true
lightyear_transport.workspace = true

# utils
tracing.workspace = true

# serde
serde.workspace = true

# bevy
bevy_app.workspace = true
bevy_derive.workspace = true
bevy_diagnostic.workspace = true
bevy_ecs.workspace = true
bevy_reflect.workspace = true
bevy_time.workspace = true
bevy_utils.workspace = true

[dev-dependencies]
test-log.workspace = true

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
