Settings(
    client: ClientSettings(
        inspector: true,
        client_id: 0,
        client_port: 0, // the OS will assign a random open port
        server_addr: "127.0.0.1",
        conditioner: Some(Conditioner(
            latency_ms: 100,
            jitter_ms: 10,
            packet_loss: 0.0
        )),
        server_port: 5000,
        transport: WebTransport(
            // this is only needed for wasm, the self-signed certificates are only valid for 2 weeks
            // the server will print the certificate digest on startup
            certificate_digest: "6e:f2:d6:57:f8:f7:c9:ab:88:ae:59:6b:e8:97:cc:1e:a7:a4:ce:71:17:e1:39:79:4d:c6:2b:79:86:9a:c5:fc",
        ),
        // server_port: 5001,
        // transport: Udp,
        // server_port: 5002,
        // transport: WebSocket,
        // server_port: 5003,
        // transport: Steam(
        //     app_id: 480,
        // )
    ),
    server: ServerSettings(
        headless: true,
        inspector: false,
        conditioner: None,
        transport: [
            WebTransport(
                local_port: 5000
            ),
            Udp(
                local_port: 5001
            ),
            WebSocket(
                local_port: 5002
            ),
            // Steam(
            //     app_id: 480,
            //     server_ip: "0.0.0.0",
            //     game_port: 5003,
            //     query_port: 27016,
            // ),
        ],
    ),
    shared: SharedSettings(
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)
