[package]
name = "lightyear_replication"
version = "0.21.0-rc.1"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "IO primitives for the lightyear networking library"
repository = "https://github.com/cBournhonesque/lightyear"

[features]
default = ["std"]
std = ["lightyear_transport/std"]
client = []
server = ["lightyear_connection/server"]
prediction = ["lightyear_core/prediction"]
interpolation = ["lightyear_core/interpolation"]
trace = []
metrics = ["dep:metrics", "std"]
test_utils = []
test_log = ["test-log", "std"]

[dependencies]
lightyear_link.workspace = true
lightyear_utils.workspace = true
lightyear_serde.workspace = true
lightyear_core.workspace = true
lightyear_connection.workspace = true
lightyear_messages.workspace = true
lightyear_transport.workspace = true

# utils
metrics = { workspace = true, optional = true }
smallvec.workspace = true
thiserror.workspace = true
tracing.workspace = true

# serde
serde.workspace = true
bytes.workspace = true

# bevy
bevy_app.workspace = true
bevy_ecs.workspace = true
bevy_platform.workspace = true
bevy_ptr.workspace = true
bevy_reflect.workspace = true
bevy_time = { workspace = true, features = ["bevy_reflect"] }
bevy_transform = { workspace = true, features = ["libm"] }

# testing, added here instead of on `dev-dependencies` to be able to have it as an optional
test-log = { workspace = true, optional = true }

[lints]
workspace = true
