MySettings(
  input_delay_ticks: 6,
  correction_ticks_factor: 1.5,
  predict_all: true,
  show_confirmed: true,
  common: Settings(
    client: ClientSettings(
            inspector: false,
            client_id: 0,
            client_port: 0, // the OS will assign a random open port
            server_addr: "138.201.23.5",
            conditioner: None, 
            // Some(Conditioner(
             //   latency_ms: 50,
             //   jitter_ms: 5,
             //   packet_loss: 0.005
            //)),
            server_port: 5000,
            transport: WebTransport(
                // this is only needed for wasm, the self-signed certificates are only valid for 2 weeks
                // the server will print the certificate digest on startup
                certificate_digest: "e6:59:f0:e4:77:7c:53:68:2d:a3:be:66:1f:8a:a5:11:03:8a:2c:ff:b7:b4:4e:fc:e9:bd:97:bb:b0:a0:82:a8",
            ),
            // server_port: 5001,
            // transport: Udp,
            // server_port: 5002,
            // transport: WebSocket,
            // server_port: 5003,
            // transport: Steam(
            //     app_id: 480,
            // )
        ),
        server: ServerSettings(
            headless: true,
            inspector: false,
            conditioner: None,
            transport: [
                WebTransport(
                    local_port: 5000
                ),
                Udp(
                    local_port: 5001
                ),
                WebSocket(
                    local_port: 5002
                ),
                // Steam(
                //     app_id: 480,
                //     server_ip: "0.0.0.0",
                //     game_port: 5003,
                //     query_port: 27016,
                // ),
            ],
        ),
        shared: SharedSettings(
            protocol_id: 0,
            private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            compression: None,
        )
    )
)
