[package]
name = "compiletime"
version.workspace = true
authors.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
lightyear.workspace = true
bevy.workspace = true

[lints]
workspace = true

[[bin]]
name = "compiletime"
doc = false
