[package]
name = "lightyear_examples_common"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Common harness for the lightyear examples"
readme = "../README.md"
repository = "https://github.com/cBournhonesque/lightyear"
keywords = ["bevy", "multiplayer", "networking", "netcode", "gamedev"]
categories = ["game-development", "network-programming"]
license = "MIT OR Apache-2.0"
exclude = ["/tests"]

[features]
default = ["client", "server", "netcode", "udp"]
client = ["lightyear/client"]
server = ["lightyear/server"]
netcode = ["lightyear/netcode"]
udp = ["lightyear/udp"]
steam = ["lightyear/steam"]
debug = ["gui2d", "lightyear/debug"]
gui2d = [
  "dep:bevy-inspector-egui",
  "bevy/2d",
  "bevy/2d_bevy_render",
  "bevy/2d_api",
]
gui3d = [
  "dep:bevy-inspector-egui",
  "bevy/3d",
  "bevy/3d_bevy_render",
  "bevy/3d_api",
]

[dependencies]
lightyear = { "workspace" = true, features = [
  "interpolation",
  "prediction",
  "replication",
  "webtransport",
  "webtransport_self_signed",
  "webtransport_dangerous_configuration",
  "websocket",
  "websocket_self_signed",
  "udp",
] }
async-compat.workspace = true
cfg-if.workspace = true
clap.workspace = true
serde.workspace = true
bevy = { workspace = true, features = [
  "bevy_state",
  "bevy_log",
  "reflect_auto_register",
] }
bevy-inspector-egui = { workspace = true, optional = true }
bevy_egui = { workspace = true, optional = true }
tracing.workspace = true
ron = { version = "0.12.0" }

[target."cfg(target_family = \"wasm\")".dependencies]
console_error_panic_hook.workspace = true
rand.workspace = true
getrandom.workspace = true
getrandom_02.workspace = true

[lints]
workspace = true

[lib]
doc = false
