MySettings(
  server_replication_send_interval: 50,
  input_delay_ticks: 4,
  // do not set a limit on the amount of prediction
  max_prediction_ticks: 100,
  correction_ticks_factor: 2.0,
  show_confirmed: true,
  common: Settings(
    client: ClientSettings(
            inspector: true,
            client_id: 0,
            client_port: 0, // the OS will assign a random open port
            server_addr: "127.0.0.1",
            conditioner: Some(Conditioner(
                latency_ms: 50,
                jitter_ms: 5,
                packet_loss: 0.02
            )),
            server_port: 5000,
            transport: Udp
        ),
        server: ServerSettings(
            headless: true,
            inspector: false,
            conditioner: None,
            transport: [
                Udp(
                    local_port: 5000
                ),
            ],
        ),
        shared: SharedSettings(
            protocol_id: 0,
            private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            compression: None,
        )
    )
)
