[package]
name = "avian_physics"
version = "0.0.0"
authors = ["Charles Bournhonesque <charlesbour@gmail.com>"]
edition = "2021"
publish = false

[features]
default = ["client", "gui", "server", "netcode", "udp"]
client = [
  "gui",
  "lightyear/client",
  "lightyear_examples_common/client"
]
gui = [
  "lightyear_examples_common/gui"
]
server = [
  "lightyear/server",
  "lightyear_examples_common/server"
]
netcode = [
  "lightyear_examples_common/netcode"
]
udp = [
  "lightyear_examples_common/udp",
  # udp requires std
  "lightyear/std",
  "lightyear/udp",
]

[dependencies]
lightyear = { workspace = true, features = [
  "interpolation",
  "prediction",
  "replication",
  "leafwing",
  "avian2d",
] }
lightyear_examples_common.workspace = true
lightyear_frame_interpolation.workspace = true
leafwing-input-manager.workspace = true
avian2d = { workspace = true, features = [
  "2d",
  "f32",
  "parry-f32",
  "parallel",
  "serialize",
] }

serde.workspace = true
tracing.workspace = true
bevy.workspace = true
bevy_metrics_dashboard.workspace = true

[lints]
workspace = true
