[package]
name = "avian_physics"
version = "0.0.0"
authors = ["Charles Bournhonesque <charlesbour@gmail.com>"]
edition = "2021"
publish = false

[features]
default = ["lightyear_examples_common/websocket"]
client = ["lightyear_examples_common/client", "gui"]
server = ["lightyear_examples_common/server"]
gui = ["lightyear_examples_common/gui"]
steam = ["lightyear_examples_common/steam"]
metrics = ["lightyear/metrics", "dep:metrics-exporter-prometheus"]
visualizer = ["lightyear_examples_common/visualizer", "gui"]

[dependencies]
lightyear_examples_common.workspace = true
lightyear = { workspace = true, features = [
    "steam",
    "websocket",
    "leafwing",
    "avian2d",
] }

leafwing-input-manager.workspace = true
avian2d = { workspace = true, features = [
    "2d",
    "f32",
    "parry-f32",
    "parallel",
    "serialize",
] }
serde.workspace = true
anyhow.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
bevy.workspace = true
rand.workspace = true
metrics-exporter-prometheus = { workspace = true, optional = true }

[lints]
workspace = true
