[package]
name = "launcher"
version = "0.26.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
bevy = { workspace = true, default-features = false, features = [
  "bevy_asset",
  "bevy_winit",
  "bevy_render",
  "bevy_core_pipeline",
  "bevy_pbr",
  "x11",
  "wayland",
] }
bevy_egui = { workspace = true }
lightyear = { path = "../../lightyear", features = [
  "client",
  "server",
  "prediction",
  "interpolation",
  "input_native",
] }
lightyear_examples_common = { path = "../common", features = [
  "client",
  "server",
  "gui2d",
] }

# utils
rand.workspace = true
tracing.workspace = true
serde.workspace = true

# Add dependencies for specific examples, enabling necessary features
simple_box = { path = "../simple_box", features = ["client", "server", "gui"] }
# fps_new = { path = "../fps_new", features = ["client", "server", "gui"] } # Add other examples as needed

clap = { version = "4.5.3", features = ["derive"] }
strum = { version = "0.27", features = ["derive"] }
ron = "0.12"
tempfile = "3.19"

[lints]
workspace = true
