Settings(
    client: ClientSettings(
        inspector: true,
        client_id: 0,
        client_port: 0, // the OS will assign a random open port
        server_addr: "127.0.0.1",
        conditioner: None,
        //Some(Conditioner(
        //    latency_ms: 200,
        //    jitter_ms: 20,
        //    packet_loss: 0.05
        //)),
        server_port: 5000,
        transport: WebTransport(
            // this is only needed for wasm, the self-signed certificates are only valid for 2 weeks
            // the server will print the certificate digest on startup
            certificate_digest: "27:17:bb:f1:7b:a7:1d:fb:de:14:eb:9e:b3:3f:3e:f2:0b:e6:24:da:0e:1f:40:62:51:e6:a9:2e:c1:bf:8b:1a",
        ),
        // server_port: 5001,
        // transport: Udp,
        // server_port: 5002,
        // transport: WebSocket,
        // server_port: 5003,
        // transport: Steam(
        //     app_id: 480,
        // )
    ),
    server: ServerSettings(
        headless: true,
        inspector: false,
        conditioner: Some(Conditioner(
            latency_ms: 200,
            jitter_ms: 20,
            packet_loss: 0.05
        )),
        transport: [
            WebTransport(
                local_port: 5000,
                certificate: AutoSelfSigned(["localhost", "127.0.0.1"]),
            ),
            // Udp(
            //     local_port: 5001
            // ),
            // WebSocket(
            //     local_port: 5002
            // ),
            // Steam(
            //     app_id: 480,
            //     server_ip: "0.0.0.0",
            //     game_port: 5003,
            //     query_port: 27016,
            // ),
        ],
    ),
    shared: SharedSettings(
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)
