Settings(
    client: ClientSettings(
        inspector: true,
        client_id: 0,
        client_port: 0, // the OS will assign a random open port
        server_addr: "127.0.0.1",
        conditioner: None,
        server_port: 5000,
        transport: WebTransport(
            // this is only needed for wasm, the self-signed certificates are only valid for 2 weeks
            // the server will print the certificate digest on startup
            certificate_digest: "3e:92:09:28:39:8d:86:41:d1:e3:20:ca:10:54:67:be:4c:2e:0b:90:c8:71:86:f6:4d:59:53:04:6e:13:ac:19",
        ),
        // server_port: 5001,
        // transport: Udp,
        // server_port: 5002,
        // transport: WebSocket,
        // server_port: 5003,
        // transport: Steam(
        //     app_id: 480,
        // )
    ),
    server: ServerSettings(
        headless: false,
        inspector: false,
        conditioner: None,
        transport: [
            WebTransport(
                local_port: 5000
            ),
            Udp(
                local_port: 5001
            ),
            WebSocket(
                local_port: 5002
            ),
            // Steam(
            //     app_id: 480,
            //     server_ip: "0.0.0.0",
            //     game_port: 5003,
            //     query_port: 27016,
            // ),
        ],
    ),
    shared: SharedSettings(
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)
