[package]
name = "avian_3d_character"
version = "0.0.0"
authors = ["Charles Bournhonesque <charlesbour@gmail.com>"]
edition = "2021"
rust-version = "1.65"
publish = false

[features]
metrics = ["lightyear/metrics", "dep:metrics-exporter-prometheus"]

[dependencies]
lightyear_examples_common = { path = "../common" }
bevy_screen_diagnostics = "0.6"
leafwing-input-manager = "0.15"
avian3d = { version = "0.1.1", default-features = false, features = [
  "3d",
  "f32",
  "parry-f32",
  "parallel",
  "serialize",
] }
lightyear = { path = "../../lightyear", features = [
  "webtransport",
  "websocket",
  "leafwing",
  "avian3d",
] }
serde = { version = "1.0.188", features = ["derive"] }
anyhow = { version = "1.0.75", features = [] }
tracing = "0.1"
tracing-subscriber = "0.3.17"
bevy = { version = "0.14", features = [
  "multi_threaded",
  "bevy_state",
  "serialize",
] }

rand = "0.8.1"
metrics-exporter-prometheus = { version = "0.16.0", optional = true }
