[package]
name = "avian_3d_character"
version = "0.26.2"
authors = ["Charles Bournhonesque <charlesbour@gmail.com>"]
edition = "2021"
publish = false

[features]
default = ["client", "gui", "server", "netcode", "udp"]
client = ["gui", "lightyear/client", "lightyear_examples_common/client"]
gui = ["lightyear_examples_common/gui3d"]
server = ["lightyear/server", "lightyear_examples_common/server"]
netcode = ["lightyear_examples_common/netcode"]
udp = ["lightyear_examples_common/udp", "lightyear/udp"]

[dependencies]
lightyear = { workspace = true, features = [
  "interpolation",
  "prediction",
  "replication",
  "leafwing",
  "avian3d",
] }
lightyear_frame_interpolation.workspace = true
lightyear_examples_common.workspace = true
leafwing-input-manager = { workspace = true, default-features = false, features = [
  "keyboard",
  "gamepad",
] }
avian3d = { workspace = true, features = [
  "3d",
  "f32",
  "parry-f32",
  "parallel",
  "serialize",
] }
serde.workspace = true
bevy.workspace = true

[target."cfg(target_family = \"wasm\")".dependencies]
console_error_panic_hook.workspace = true

[package.metadata.bevy_cli.web]
rustflags = ["--cfg", "getrandom_backend=\"wasm_js\""]
default-features = false
features = ["client", "netcode"]

[lints]
workspace = true

[[bin]]
name = "avian_3d_character"
doc = false
