[package]
name = "lightyear_macros"
version = "0.12.0"
authors = ["Charles Bournhonesque <charlesbour@gmail.com>"]
edition = "2021"
rust-version = "1.65"
description = "Procedural macros for the lightyear networking library"
readme = "README.md"
repository = "https://github.com/cBournhonesque/lightyear"
keywords = ["bevy", "multiplayer", "networking", "netcode", "gamedev"]
categories = ["game-development", "network-programming"]
license = "MIT OR Apache-2.0"
exclude = ["/tests"]

[lib]
proc-macro = true

[features]
leafwing = []


[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
serde = { version = "1.0.188", features = ["derive"] }
anyhow = "1.0.75"
darling = "0.20"
uuid = { version = "1.6.1", features = ["v4"] }


[dev-dependencies]
lightyear = { path = "../lightyear" }
leafwing-input-manager = { version = "0.13" }
enum-as-inner = "0.6.0"
bevy = { version = "0.13", default-features = false }
enum_delegate = "0.2"
derive_more = { version = "0.99", features = ["add", "mul"] }
