[package]
name = "lightyear_steam"
version = "0.22.3"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "Connection handling for the lightyear networking library"
repository = "https://github.com/cBournhonesque/lightyear"

[features]
default = ["std"]
std = []
client = [
    "aeronet_io",
    "aeronet_steam/client",
    "lightyear_aeronet",
    "lightyear_core",
    "lightyear_link",
    "lightyear_connection/client"
]
server = [
    "aeronet_io",
    "aeronet_steam/server",
    "lightyear_aeronet",
    "lightyear_core",
    "lightyear_link",
    "lightyear_connection/server",
    "tracing",
]

[dependencies]
lightyear_aeronet = { workspace = true, optional = true }
lightyear_core = { workspace = true, optional = true }
lightyear_link = { workspace = true, optional = true }
lightyear_connection = { workspace = true, optional = true }

# bevy
bevy_app.workspace = true
bevy_ecs.workspace = true

# aeronet
aeronet_steam = { workspace = true }
aeronet_io = { workspace = true, optional = true }

# utils
thiserror.workspace = true
tracing = { workspace = true, optional = true }

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
