Settings(
    client: ClientSettings(
        inspector: false,
        client_id: 0,
        client_port: 0, // the OS will assign a random open port
        server_addr: "127.0.0.1",
        conditioner: Some(Conditioner(
            latency_ms: 200,
            jitter_ms: 20,
            packet_loss: 0.00
        )),
        // server_port: 5000,
        // transport: WebTransport(
        //     // this is only needed for wasm, the self-signed certificates are only valid for 2 weeks
        //     // the server will print the certificate digest on startup
        //     certificate_digest: "d1:b7:34:ef:e1:e5:52:a9:05:8a:db:53:7d:ce:10:f6:fd:1e:4e:ee:81:ef:08:47:63:23:a9:96:b3:f5:fa:5e",
        // ),
        server_port: 5001,
        transport: Udp,
        // server_port: 5002,
        // transport: WebSocket,
        // server_port: 5003,
        // transport: Steam(
        //     app_id: 480,
        // )
    ),
    server: ServerSettings(
        headless: true,
        inspector: false,
        conditioner: Some(Conditioner(
            latency_ms: 200,
            jitter_ms: 20,
            packet_loss: 0.00
        )),
        transport: [
            WebTransport(
                local_port: 5000,
                certificate: FromFile(
                    cert: "../certificates/cert.pem",
                    key: "../certificates/key.pem",
                )
            ),
            Udp(
                local_port: 5001
            ),
            WebSocket(
                local_port: 5002
            ),
            // Steam(
            //     app_id: 480,
            //     server_ip: "0.0.0.0",
            //     game_port: 5003,
            //     query_port: 27016,
            // ),
        ],
    ),
    shared: SharedSettings(
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)