[package]
name = "lightyear_udp"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "IO primitives for the lightyear networking library"
repository = "https://github.com/cBournhonesque/lightyear"

[features]
default = ["std"]
std = [
]
server = []

[dependencies]
lightyear_link.workspace = true
lightyear_connection.workspace = true

# bevy
bevy.workspace = true

# utils
tracing.workspace = true
smallvec.workspace = true

# serde
bytes.workspace = true

[lints]
workspace = true
