name: Main
on:
  push:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - ".github/dependabot.yml"
      - "**.md"
  pull_request:
    paths-ignore:
      - ".gitignore"
      - ".github/dependabot.yml"
      - "**.md"
env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: --deny warnings -C debuginfo=line-tables-only
  RUSTDOCFLAGS: --deny warnings
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-all-crates: true
          shared-key: lints
      - name: Format
        run: |
          cargo fmt --all --check
      - name: Clippy lightyear
        # exclude avian_3d_character to only use lightyear_avian/2d features
        run: cargo clippy --workspace --exclude=compiletime --exclude=avian_3d_character --exclude=launcher --exclude=delta_compression --exclude=distributed_authority --no-deps -- -D warnings -A clippy::needless_lifetimes

  docs:
    name: Doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-all-crates: true
          shared-key: lints
      - name: Rustdoc
        env:
          # needs to be in sync with [package.metadata.docs.rs]
          RUSTFLAGS: --cfg docsrs_dep
          RUSTDOCFLAGS: --cfg=docsrs --generate-link-to-definition
        # exclude avian_3d_character to only use lightyear_avian/2d features
        run: cargo doc --locked --workspace --exclude=avian_3d_character --document-private-items --no-deps --keep-going

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev pkg-config libusb-1.0-0-dev libftdi1-dev libudev-dev;

      - name: Clone repo
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache crates
        uses: Swatinem/rust-cache@v2

      - name: Install LLVM tools
        run: rustup component add llvm-tools-preview

      - name: Install Tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Test
        run: cargo tarpaulin --locked -p lightyear_tests --engine llvm --out lcov

      - name: Upload code coverage results
        if: github.actor != 'dependabot[bot]'
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: lcov.info

#      - name: Test doc
#        run: cargo test --locked --workspace --doc

  codecov:
    name: Upload to Codecov
    if: github.actor != 'dependabot[bot]'
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Download code coverage results
        uses: actions/download-artifact@v4
        with:
          name: code-coverage-report

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}